.o_button_import{
	visibility: hidden !important;
	width: 0px !important;
	padding: 0px !important;
}
.o_search_options{
	visibility: hidden !important;	
}
.o_searchview_more{
	visibility: hidden !important;	
}
.height-10{
	max-height: 10px;
	height: 10px;
}
.o_mail_systray_item{
	visibility: hidden;
}
.hrj_td{
	width: 20px; 
	border: 1px solid black; 
}
